/* Estilos generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; 
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff; 
}

.content {
  display: flex;
  flex: 1; /* Asegura que el contenido ocupe el espacio disponible */
}

.sidebar {
  width: 250px;
  background-color: #333; 
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Sidebar fijo a la izquierda */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li button {
  width: 100%;
  padding: 10px;
  background-color: #444;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar ul li button:hover {
  background-color: #555;
}

.logout-button {
  margin-top: 20px;
  background-color: #e74c3c; 
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333; 
}

.historial {
  margin-left: 250px; /* Desplaza el contenido para que no quede debajo del sidebar */
  flex: 1;
  padding: 20px;
  background-color: #d3d3d3; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

/* Modo oscuro */
.dark-mode {
  background-color: #181818;
  color: #e0e0e0;
}

.dark-mode .sidebar {
  background-color: #222; /* Sidebar más oscuro */
}

.dark-mode .sidebar ul li button {
  background-color: #333;
}

.dark-mode .sidebar ul li button:hover {
  background-color: #444;
}

.dark-mode .logout-button {
  background-color: #e74c3c;
}

.dark-mode .historial {
  background-color: #2c2c2c; 
}


.toggle-dark-mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-dark-mode:hover {
  background-color: #0056b3;
}

/* Para colocar el botón en la parte superior derecha en lugar de inferior derecha */
.toggle-dark-mode.top {
  top: 20px;
  bottom: unset;
}
