#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffd3d5; 
  margin: 300; 
  font-family: Arial, sans-serif; 
}

body {
  background: linear-gradient(to right, #595858, #838281); 
  margin: 0;
  font-family: Arial, sans-serif;
}