.persona-container {
    display: flex;
    height: 100vh;
    background-color: #007bff; /* bg-primary */
    justify-content: center;
    align-items: center;
}

.persona-content {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
}

.persona-add-btn {
    background-color: #28a745; /* btn-success */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.persona-add-btn:hover {
    background-color: #218838; /* Darker shade on hover */
}
.persona-update-btn{
    background-color: rgb(14, 14, 230); /* btn-success */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.persona-update-btn:hover {
    background-color: #030e6e; /* Darker shade on hover */
}

.persona-delete-btn{
    background-color: rgb(255, 0, 0); /* btn-success */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.persona-delete-btn:hover {
    background-color: #b31717; /* Darker shade on hover */
}

.persona-table {
    width: 100%;
    border-collapse: collapse;
}

.persona-table th, .persona-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
}

.persona-table th {
    background-color: #f8f9fa;
}

.persona-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
